body {
  margin: 0;
  background-color: aliceblue;
}

.main {
  height: 300px;
  width: 500px;
  border: 1px solid blue;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
  margin-top: 27vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(125, 190, 237, 0.2);
  box-shadow: 0px 0px 5px;
}

.main2 {
  padding: 7vh;
}

#button1 {
  height: 50px;
  width: 200px;
  background-color: rgba(125, 190, 237, 0.6);
  border-radius: 10px;
  box-shadow: 0px 1px 2px;
}
